.container #last-comments .comment{
	height: 60px;
	padding-top: 10px;
	box-sizing: border-box;
	padding-left: 10px;
}
.container #last-comments .comment .comment-user-font{
	display: inline-block;
	width:40px;
}
.container #last-comments .comment .comment-user-font img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.container #last-comments .comment .comment-user-info{
	display: inline-block;
	width:300px;
	vertical-align: top;
}
.container #last-comments .comment .comment-user-info .user-name{
	color: rgba(206,233,156,0.9);
	display: inline-block;
	width: 70px;
}
.container #last-comments .comment .comment-user-info .comment-content{
	margin-top: 10px;
}
.container #last-comments .comment .comment-user-info .comment-content .comment-word{
	display:block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}